#profile-pic{
    max-width: 40%;
    border-radius: 20px;
}

.img-and-resume-container{
    display: flex;
    align-items: center;
    max-width: 50%;
}

#aboutme-text{
    max-width: 45%;
    color: rgb(112, 66, 30);
    font-size: 24px;
    padding: 0px 20px;
}

#skills{
    max-width: 45%;
    color: rgb(112, 66, 30);
    font-size: 24px;
    padding: 0px 20px;
}

#resume-link{
    font-size: 50px;
    font-weight: bold;
    color:rgb(112, 66, 30);
    margin: 20px;
    text-decoration: none;
}

.aboutme-text-container{
    display: flex;
    justify-content: center;
}

.aboutme-text-container h3{      /*Font for the 'Work History' and 'Skills' headings */
    font-family: 'Rum Raisin', sans-serif;
}

/* Media queries to make the page responsive when changing screen sizes */
@media only screen and (max-width: 1350px){
    #resume-link{
        font-size: 33px;
    }
    #resume-link-leaf{
        max-width: 20%;
    }
}

@media only screen and (max-width: 970px){
    .img-and-resume-container{
        display: flex;
        flex-direction: column; /*To make the profile pic go on top of the resume link*/
        align-items: center;
        max-width: 50%;
    }
    .aboutme-text-container{
        display: flex;
        flex-direction: column;  /*To make the Work History go on top of the Skills section*/
        justify-content: center;
    }
    #resume-link{
        font-size: 30px;
    }

@media only screen and (max-width: 500px){
    #resume-link{
        font-size: 15px;
        margin: 0px;
    }
    #profile-pic{
        max-width: 70%;
    }
    #aboutme-text{
        max-width: 70%;
        font-size: 14px;
        padding: 0px 20px;
    }
    #about-me-heading{
        font-size: 40px;
    }
}