#profile-pic{
    max-width: 40%;
    border-radius: 20px;
}

.img-and-resume-container{
    display: flex;
    align-items: center;
    max-width: 50%;
}

#aboutme-text{
    max-width: 70%;
    margin-top: 50px;
    color: rgb(112, 66, 30);
    font-size: 24px;
}