/* CSS for page showing the list of blog posts */
.blog-posts{
    list-style-type: none;
}
.blog-posts a{
    color: rgb(112, 66, 30);
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.blog-posts a img{
    margin-right: 10px;
}

.blog-posts p{   /*For text "posted: 12/02/2021" on blog posts */
    color: rgb(112, 66, 30);
    font-size: 20px;
    margin: 0px 0px 20px 70px;
}

/* CSS for individual blog post pages */
.blog-post-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-heading{
    color: rgb(112, 66, 30);
    font-size: 50px;
    font-weight: bold;
    margin: 15px;
}

.blog-post-image{
    max-width: 20%;
}

.blog-post-text{
    max-width: 70%;
    margin-top: 5%;
    font-size: 25px;
    color: rgb(112, 66, 30);
}

@media only screen and (max-width: 1350px){
    .blog-posts a{
        font-size: 40px;
    }
    
    .blog-posts a img{
        margin-right: 10px;
        max-width: 10%;
    }
    .blog-post-heading{
        font-size: 35px;
        margin: 15px;
    }
    
    .blog-post-image{
        max-width: 30%;
    }
    
    .blog-post-text{
        max-width: 70%;
        margin-top: 5%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 970px){
    .blog-posts a{
        font-size: 30px;
    }
    .blog-post-heading{
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
    }
    
    .blog-post-image{
        max-width: 30%;
    }
    
    .blog-post-text{
        max-width: 70%;
        margin-top: 5%;
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px){
    .blog-posts{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .blog-posts a{
        color: rgb(112, 66, 30);
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: bold;
        margin-top: 20px;
        text-decoration: none;
    }
    
    .blog-posts a img{
        margin-right: 10px;
        width: 10%;
    }
    .blog-posts p{   /*For text "posted: 12/02/2021" on blog posts */
        font-size: 15px;
        margin: 0px 0px 15px 70px;
    }
    .blog-post-heading-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .blog-post-heading{
        font-size: 25px;
        margin: 10px;
    }
    
    .blog-post-image{
        max-width: 40%;
    }
    .blog-post-text{
        max-width: 70%;
        margin-top: 5%;
        font-size: 14px;
    }
}