.blog-posts a{
    color: rgb(112, 66, 30);
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.blog-posts a img{
    margin-right: 10px;
}

.blog-posts p{
    color: rgb(112, 66, 30);
    font-size: 20px;
    margin: 0px 0px 20px 70px;
}

.heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-heading{
    color: rgb(112, 66, 30);
    font-size: 50px;
    font-weight: bold;
    margin: 15px;
}

.blog-post-image{
    max-width: 20%;
}

.blog-post-text{
    max-width: 70%;
    margin-top: 5%;
    font-size: 25px;
    color: rgb(112, 66, 30);
}

@media only screen and (max-width: 1350px){

}

@media only screen and (max-width: 970px){

}

@media only screen and (max-width: 500px){

}