/* CSS for message form at the bottom of contact page */
.message-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.message{
    background-color: rgb(249, 228, 204);
    margin: 5px;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}

#message-submit-button{
    background-color: rgb(112, 66, 30);
    color: rgb(247, 190, 41);
    max-width: 50%;
    margin: 5px;
    font-size: 30px;
    border-radius: 10px;    
}

#message-submit-button:hover{
    color: rgb(225, 100, 56);
    border-radius: 10px;    
}

#message-submit-button:active{
    color: rgb(225, 100, 56);
    border-radius: 10px; 
    transform: translateY(4px);   
    opacity: 0.9;
}

#message-form-header{
    color: rgb(112, 66, 30);
    font-size: 35px;
    font-weight: bold;
}

/* CSS for the 2 links in the middle of the contact page */
.contact-link-container{
    display: flex;
    flex-direction: column;
}

.contact-link-container a{
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    font-size: 90px;
    font-weight: bold;
    color:rgb(112, 66, 30);
    /* margin: 20px; */
    text-decoration: none;
}

.contact-link-container img{
    max-height: 100px;
    position: relative;
    top: 10px;
}

.contact-link-container p{
    color: #70421e;
    font-size: 36px;
    padding: 10px;
    font-family: 'Rum Raisin', sans-serif;
}

.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-link img{
    max-width: 70%;
    margin: 10px;
}



/* Animation for Social media links in middle of contact page */
#contact-page-linkedin:hover{
    animation: ripple-red 10s;
    content: url(images/contact-page-linkedin-red.png);
}
    
#contact-page-github:hover{
    animation: ripple-yellow 10s;
    content: url(images/contact-page-github-yellow.png); 
}

/* Media queries to make the page responsive to changing screen size */
@media only screen and (max-width: 970px){
    .message{
        font-size: 25px;
    }
    #message-submit-button{
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px){
    .message{
        font-size: 20px;
    }
    #message-submit-button{
        font-size: 20px;
    }
    #contact-heading{
        font-size: 45px;
    }
}

@media only screen and (max-width: 400px){  /*Mobile phone view*/
    .message{
        font-size: 14px;
    }
    #message-submit-button{
        font-size: 20px;
    }
    #contact-heading{
        font-size: 32px;
    }
    .message-form{
        padding: 10px;
    }
}
