.message-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.message{
    background-color: rgb(249, 228, 204);
    margin: 5px;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    /* border: rgb(112, 66, 30); */
}

button{
    background-color: rgb(112, 66, 30);
    color: rgb(247, 190, 41);
    max-width: 50%;
    margin: 5px;
    font-size: 30px;
    border-radius: 10px;    
}

.contact-link-container{
    display: flex;
    flex-direction: column;
    
}

.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgb(112, 66, 30);
    font-weight: bold;
    margin: 20px;
    text-decoration: none;

}

.contact-link img{
    max-width: 15%;
    margin: 10px;
}

#message-form-header{
    color: rgb(112, 66, 30);
    font-size: 35px;
    font-weight: bold;
}