/* Background Colour */
body{
    background-color: rgb(249, 228, 204);
}

/* Image of leaves falling from branch */
.branch-image{
    max-width: 30%;
    position: fixed;
    top: 80px;  
}

/* Container for Heading and text */
.heading-and-text{
    position: relative;
    left: 30%;
    max-width: 65%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
}

#intro-text{
    color: #70421e;
    font-size: 36px;
}



/* CSS of heading "Mark Boyle" */
.heading{
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    font-size: 150px;
    text-shadow: 5px 5px black;
    border: 1px solid black;
}

.heading p{
    margin: 0px 5px;
}

/* Classes for the letters of the heading */
.red{
    font-family: 'Modak', cursive; 
    color: rgb(225, 100, 56);
    animation: bouncing-letter 4.5s infinite 0s running;
}

.yellow{
    font-family: 'Modak', cursive; 
    color: rgb(247, 190, 41);
    animation: bouncing-letter 4.5s infinite 0.5s running;
}

.green{
    font-family: 'Modak', cursive; 
    color: rgb(154, 162, 102);
    animation: bouncing-letter 4.5s infinite 1.5s running;
}

.brown{
    font-family: 'Modak', cursive; 
    color: rgb(112, 66, 30);
    animation: bouncing-letter 4.5s infinite 2s running;
}

/* Animation to make letters bounce */
@keyframes bouncing-letter{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: rotate(45deg);
        transform: translateY(0px);
    }
}