.navbar{
    max-height: 80px;
    position: fixed;
    max-width: 100%;
    /* left: 90%;
    top: 3%; */
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* border: 1px solid black; */
    /* nav-right: auto; */
    font-size: 30px;
}

.navbar a{
    color: rgb(112, 66, 30);
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}



.nav-container{
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    nav-right: auto;
}

.nav-container a img{
    max-height: 45px;
    position: relative;
    margin-inline-end: 90%;
}

.social-media-links{
    position: relative;
    left: 93%;
    margin: 10px;
}