.navbar{
    max-height: 80px;
    position: fixed;
    max-width: 100%;
    /* left: 90%;
    top: 3%; */
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* border: 1px solid black; */
    /* nav-right: auto; */
    font-size: 30px;
}

.navbar a{
    color: rgb(112, 66, 30);
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}



.nav-container{
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    nav-right: auto;
}

.nav-container a img{
    max-height: 45px;
    position: relative;
    /* margin-inline-end: 90%; */
}

.social-media-links{
    position: relative;
    left: 92%;
    margin: 10px;
}

#linkedin-logo:hover{
    animation: ripple-red 10s;
    content: url(Linkedin-logo-red.png); 
}

#github-logo:hover{
    animation: ripple-yellow 10s;
    content: url(Github-logo-yellow.png); 
}

@media only screen and (max-width: 1350px){
    .social-media-links{
        position: relative;
        left: 85%;
        margin: 10px;
    }
}

@media only screen and (max-width: 970px){
    .nav-container a img{
        max-height: 30px;
        position: relative;
    }
    .navbar{
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px){
    .nav-container{
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0px;
        top: 180px;
        width: 100px;
        height: 300px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 250px;
        /* max-width: 100%; */
        padding: 10px;
        /* display: flex; */
        font-size: 25px;
    }
    .social-media-links{
        position: relative;
        left: 10%;
        top: 210px;
        margin: 10px;
    }
    .nav-container a img{
        max-height: 35px;
        position: relative;
        /* margin-inline-end: 90%; */
    }
}

@media only screen and (max-width: 400px){
    .nav-container{
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0px;
        /* nav-right: auto; */
        top: 130px;
        width: 100px;
        height: 300px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 250px;
        /* max-width: 100%; */
        padding: 5px;
        /* display: flex; */
        font-size: 15px;
    }
    .social-media-links{
        position: relative;
        left: 10%;
        top: 150px;
        margin: 10px;
    }
    .nav-container a img{
        max-height: 25px;
        position: relative;
        /* margin-inline-end: 90%; */
    }
}